In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
reactions = pd.read_csv('Reactions.csv')
reaction_types = pd.read_csv('ReactionTypes.csv')
content = pd.read_csv('Content.csv')

In [3]:
reactions.head()

,Unnamed: 0,Content ID,User ID,Type,Datetime
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50
2,2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,2021-06-17 12:22:51
3,3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,2021-04-18 05:13:58
4,4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,2021-01-06 19:13:01

In [4]:
reaction_types.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [5]:
content.head()

,Unnamed: 0,Content ID,User ID,Type,Category,URL
0,0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...
2,2,230c4e4d-70c3-461d-b42c-ec09396efb3f,a5c65404-5894-4b87-82f2-d787cbee86b4,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/230...
3,3,356fff80-da4d-4785-9f43-bc1261031dc6,9fb4ce88-fac1-406c-8544-1a899cee7aaf,photo,technology,https://socialbuzz.cdn.com/content/storage/356...
4,4,01ab84dd-6364-4236-abbb-3f237db77180,e206e31b-5f85-4964-b6ea-d7ee5324def1,video,food,https://socialbuzz.cdn.com/content/storage/01a...

## Choosing Columns

In [6]:
new_content = content[['Content ID', 'User ID', 'Type', 'Category']]
new_reaction = reactions[['Content ID', 'User ID', 'Type']]
new_reaction_types = reaction_types[['Type', 'Sentiment', 'Score']]

In [7]:
new_content['Category'] = new_content['Category'].str.lower()
new_content['Category'] = new_content['Category'].str.replace(r'"', "")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [8]:
new_content.nunique()

Content ID    1000
User ID        446
Type             4
Category        16
dtype: int64

In [9]:
new_content.groupby('Category')["Content ID"].count()

Category
animals            72
cooking            61
culture            67
dogs               58
education          59
fitness            66
food               64
healthy eating     62
public speaking    50
science            68
soccer             64
studying           58
technology         73
tennis             59
travel             69
veganism           50
Name: Content ID, dtype: int64

In [10]:
new_data = pd.merge(new_reaction, new_content, on='Content ID', how="left")
new_data.head()

,Content ID,User ID_x,Type_x,User ID_y,Type_y,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying

In [11]:
new_data.rename(columns = {'Type_x':'Reaction_Type', 'User ID_x':'User_ID_(Post_owner)', 'Type_y':'Content_Type'}, inplace = True)
new_data.head()

,Content ID,User_ID_(Post_owner),Reaction_Type,User ID_y,Content_Type,Category
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying

In [12]:
new_data = pd.merge(new_data, new_reaction_types, left_on="Reaction_Type", right_on="Type", how="left")
new_data

,Content ID,User_ID_(Post_owner),Reaction_Type,User ID_y,Content_Type,Category,Type,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,NaN,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,disgust,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,dislike,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,scared,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,disgust,negative,0.0
...,...,...,...,...,...,...,...,...,...
25548,75d6b589-7fae-4a6d-b0d0-752845150e56,80c9ce48-46f9-4f5e-b3ca-3b698fc2e949,dislike,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,dislike,negative,10.0
25549,75d6b589-7fae-4a6d-b0d0-752845150e56,2bd9c167-e06c-47c1-a978-3403d6724606,intrigued,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,intrigued,positive,45.0
25550,75d6b589-7fae-4a6d-b0d0-752845150e56,NaN,interested,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,interested,positive,30.0
25551,75d6b589-7fae-4a6d-b0d0-752845150e56,5ffd8b51-164e-47e2-885e-8b8c46eb63ed,worried,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,worried,negative,12.0
25552,75d6b589-7fae-4a6d-b0d0-752845150e56,4edc3d1a-a7d9-4db6-89c3-f784d9954172,cherish,b8c653b5-0118-4d7e-9bde-07c2de90f0ff,audio,technology,cherish,positive,70.0

In [13]:
new_data = new_data.drop('Type', 1)
new_data.head()

,Content ID,User_ID_(Post_owner),Reaction_Type,User ID_y,Content_Type,Category,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,NaN,NaN
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,92b87fa5-f271-43e0-af66-84fac21052e6,dislike,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,10.0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,163daa38-8b77-48c9-9af6-37a6c1447ac2,scared,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,15.0
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,34e8add9-0206-47fd-a501-037b994650a2,disgust,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,studying,negative,0.0

In [14]:
new_data.isnull().sum()

Content ID                 0
User_ID_(Post_owner)    3019
Reaction_Type            980
User ID_y                  0
Content_Type               0
Category                   0
Sentiment                980
Score                    980
dtype: int64

In [15]:
new_data.dropna( inplace=True)

In [16]:
new_data.isnull().sum()

Content ID              0
User_ID_(Post_owner)    0
Reaction_Type           0
User ID_y               0
Content_Type            0
Category                0
Sentiment               0
Score                   0
dtype: int64

In [17]:
new_data.columns.values

array(['Content ID', 'User_ID_(Post_owner)', 'Reaction_Type', 'User ID_y',
       'Content_Type', 'Category', 'Sentiment', 'Score'], dtype=object)

In [18]:
new_data = new_data[['Content ID', 'User_ID_(Post_owner)', 'Reaction_Type', 
       'Content_Type', 'Category', 'Sentiment', 'Score']]

In [19]:
new_data.to_csv('DataCleaned.csv', index=False)